*{
    margin: 0;
    padding: 0;
    font-family: 'Aldrich';
}

:root{
    --black: #000000;
    --white: #FFFFFF;
    --green-loud: #00FF3C;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--black);
}

.space-nav{
    height: 105px;
}

/* ----------------------NAVBAR------------------------- */

header{
    background-color: var(--black);
    height: 115px;
}

.nav-bar{

    position: fixed;
    height: 115px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    width: 100%;
}

.nav-bar.blur{
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.nav-bar.black{
    background-color: var(--black);
}

.nav-logo img{
    width: 150px;
}

.nav-itens{
    width: 40%;
}

.nav-itens ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-itens a{
    text-decoration: none;
    color: var(--white);
}

.nav-login-cadastro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
}

.nav-login-cadastro a{
    color: var(--white);
}

.nav-login-cadastro button{
    width: 133px;
    height: 52px;
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    border: solid 4px var(--green-loud);
    cursor: pointer;
    transition-duration: 0.5s;
}

.nav-login-cadastro button:hover{
    background-color: var(--white);
    color: var(--black);
    transition-duration: 0.5s;
}

.buttonPerfil{
    width: 66px;
    height: 66px;
    background-color: var(--black);
    border-radius: 50%;
    border: solid 4px var(--green-loud);
    cursor: pointer;
}

.perfil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu{
    width: 174px;
    height: 218px;
    position: fixed;
    top: 30px;
    right: 30px;
    color: var(--white);
    background-color: var(--black);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: solid 5px var(--green-loud);
    padding: 10px;
}
.menu img{
    width: 30px;
    height: 30px;
}

.menu a{
    color: var(--white);
    text-decoration: none;
}

.menu p{
    text-decoration: underline;
}

.buttonUsuario{
    width: 100%;
    height: 50px;
    background-color: var(--black);
    border: none;
    cursor: pointer;
}

.buttonUsuario img{
    width: 60px;
    height: 60px;
}

.buttonSair{
    background-color: transparent;
    color: white;
    width: 100%;
    border: none;
    font-size: 16px;
}

/* --------------------------HOME-------------------------- */
.home-background{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-image: linear-gradient(to bottom, rgba(251, 224, 192, 0.1), rgba(0, 0, 0, 0.8)), url('../imgs/equipe-loud.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 130vh;
    width: 100%;
}

.home-leagueLoud{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);
    border-radius: 60px;
    width: 70%;
    height: 50%;
}


.home-leagueLoud p{
    color: var(--white);
    font-size: 64px;
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.home-img-loud{
    width: 440px;
}

.home-leagueLoud button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    margin-top: 40px;
    width: 333px;
    height: 100px;
    border-radius: 60px;
    color: var(--white);
    background-color: var(--black);
    border: solid 6px var(--green-loud);
    cursor: pointer;

}

/* -------------------------------------LOUD NO LEAGUE---------------------------------- */
.loud-no-league{
    height: 100vh;
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loud-no-league-txt{
    width: 50%;
}

.loud-no-league-txt p{
    font-size: 20px;
}

.loud-no-league-txt li{
    font-size: 20px;
}

.loud-no-league-txt h1{
    font-size: 48px;
    font-weight: normal;
    color: var(--green-loud);
    text-align: center;
}

.loud-no-league img{
    border: 5px solid #00FF3C;
    border-radius: 60px;
}

/* ---------------------------EQUIPE ATUAL---------------------------- */

.equipe-atual{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe-titulo{
    color: var(--green-loud);
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 20px;
}

.equipe-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 200px;
    border-radius: 20px;
    height: 486px;
    transition-duration: 1s;
}

.robo{
    background-image: url(../imgs/Robo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tin{
    background-image: url(../imgs/Tinowns.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.croc{
    background-image: url(../imgs/Croc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.route{
    background-image: url(../imgs/Route.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redbert{
    background-image: url(../imgs/redbert.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card:hover{
    width: 380px;
    transition-duration: 0.8s;
    .card-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card-text-croc{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.equipe-cards:hover > :not(:hover){
    width: 170px;
    transition-duration: 0.8s;
}

.card-text{
    display: none;
    margin-bottom: 22px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    width: 340px;
    height: 122px;
    transition-duration: 1s;
    color: var(--white);
    text-wrap: nowrap;
}

.card-text-croc{
    display: none;
    margin-bottom: 22px;
    background: rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    width: 340px;
    height: 122px;
    transition-duration: 1s;
    color: var(--white);
    text-wrap: nowrap;
}


.card-text h1{
    font-weight: normal;
    font-size: 20px;
}

.card-text span{
    font-size: 18px;
    font-weight: lighter;
}

.card-text li{
    font-size: 14px;
    font-weight: normal;
}

.card-text-croc h1{
    font-weight: normal;
    font-size: 20px;
}

.card-text-croc span{
    font-size: 18px;
    font-weight: lighter;
}

.card-text-croc li{
    font-size: 14px;
    font-weight: normal;
}

/* -----------------------------------CARTINHAS--------------------------- */

.cartinhas-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.cartinhas-txt{
    width: 50%;
}

.cartinha-img img{
    height: 507px;
}

.cartinha-txt-sobre h1{
    color: var(--green-loud);
    font-weight: normal;
    font-size: 48px;
    width: 100%;
    text-align: center;
}

.cartinha-txt-sobre p, .cartinha-txt-sobre li{
    color: var(--white);
    font-size: 20px;
}

.cartinha-cadastro-login{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.cartinha-cadastro-login button{
    width: 217px;
    height: 52px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 4px var(--green-loud);
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition-duration: 0.5s;
}

.cartinha-cadastro-login button:hover{
    background-color: var(--white);
    color: var(--black);
    transition-duration: 0.5s;
}

.cartinha-cadastro-login p{
    color: var(--white);
}

.cartinha-cadastro-login a{
    color: var(--white);
    font-size: 16px;
}

/* ------------------------------FOOTER---------------------------- */
footer{
    height: 305px;
    width: 100%;
    margin-top: 100px;
    background: linear-gradient(0deg, #F5F5F5 83.03%, #000000 100%);
    
}

.footer-principal{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4%;
    margin: 0 144px 0 88px;
}

.footer-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 319px;
    height: 118px;
}

.footer-redes h1{
    font-weight: normal;
    font-size: 24px;
}

.footer-icones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-logo img{
    width: 300px;
}

.footer-legal{
    margin-bottom: 150px;
    margin-left: 40px;
}